.logo img {
  max-height: 160px;
  padding: 30px;
}

header{
  border-bottom: dashed 2px #efefef;
  margin-bottom: 60px;

  p{
    color: #775221;
    font-family: 'Droid Serif', serif;
    font-size: 18px;
  }
}

footer{
  padding: 40px;
  background: #f7f5f5;
}

.product {
  margin-bottom: 70px;

  .imgContainer {
    background: #c2d3e8;
  }

  a {
    color: #775221;

    img {
      opacity: 0.85;
      width: 100%;
    }

    &:hover img{
      opacity: 1;
    }
  }
}

@import "helpers.less";